<li>
    <p>{{ brand }} {{ last4 }}</p>
    <p>{{ exp_month }} / {{ exp_year }}</p>

    <button class="btn-edit" data-card-id="{{ id }}">Edit</button>
    <button class="btn-select" data-card-id="{{ id }}">Select</button>
</li>